<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Jennifer Paulino Portfolio</title>
		<meta name="author" content="Jennifer Paulino" />
		<meta name="description" content="" />
		<meta name="keywords"  content="" />

		<link rel="stylesheet" type="text/css" href="./public/jquery.fullPage.css" />
		<link rel="stylesheet" type="text/css" href="./public/examples.css" />
		<link rel="stylesheet" type="text/css" href="./public/home.css" />

	</head>
	<body>

		{{{body}}}

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

		<script type="text/javascript" src="./public/scrolloverflow.js"></script>

		<script type="text/javascript" src="./public/jquery.fullPage.js"></script>
		<script type="text/javascript" src="./public/examples.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#fullpage').fullpage({
					anchors: ['firstPage', 'secondPage', '3rdPage'],
					sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
					navigation: true,
					navigationPosition: 'right',
					navigationTooltips: ['First page', 'Second page', 'Third and last page']
				});
			});
		</script>

	</body>
</html>