<div id="fullpage">
	<div class="section" id="section0">
		<div class="intro">
			<h1>Jennifer Paulino</h1>
			<p>Full-Stack Web Developer</p>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="intro" id="game">
			<p>Let's have some fun!</p>
			<p>Guess the age I started coding in 3 tries or less</p>			
			<br>
			<p>Select an age between 10 and 26. See if you can guess it in 3 tries or less. I'll help you out and tell you if you're guess is too high or low.</p>
			<br>
			<div class="form">
			  <label for="guessField">Enter a guess: </label><input type="text" id="guessField" class="guessField">
			  <input type="submit" value="Submit" class="guessSubmit">
			</div>

			<div class="resultParas">
			  <p class="guesses"></p>
			  <p class="lastResult"></p>
			  <p class="lowOrHi"></p>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
	    <div class="slide" id="slide1">
			<div class="intro">
				<h1>Projects</h1>
				<p>Heading</p>
			</div>
		</div>

	    <div class="slide" id="slide3">
			<h1>Slide 2</h1>
		</div>

	</div>
	<div class="section" id="section3">
		<div class="intro">
			<h1>Contact Jennifer</h1>
		</div>
	</div>
</div>