/*Center texts in each section*/
.section {
	text-align:center;
}

/*Sections*/

#section0 {
	background-image:
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
      url(/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#section1, #section3 {
	background-color: #C71585;
	color: #FFF;
}

.intro {
	margin-top: 50px;
}

#game {
	padding: 0 100px;
}

#section2 #slide1 h1, #section2 #slide1 p {
	color: #C71585;
}

.guessField {
	height: 200px;
    width: 100px;
    font-size: 72px;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 5px solid white;
    width: 20%;
    outline: none;
}

.guessSubmit {
	color: #fff;
    padding: 25px;
    border-radius: 50px;
    width: 50%;
    background-color: transparent;
    border: 3px solid white;
    font-weight: bold;
    margin-top: 25px;
}

p.lastResult {
	font-size: 48px;
    font-weight: 600;
}

p.lowOrHi {
	font-size: 48px;
}

#section2 #slide1 {
	background-color: #FCE4EC;
}

#section3 {
	color: #FFF;
}

/*Styles for control arrows*/
.controlArrow.prev {
	left: 50px;
}

.controlArrow.next {
	right: 50px;
}

/*Bottom menu*/
#infoMenu li a {
	color: #fff;
}


@media screen and (max-width: 375px) {
  
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
	.guessSubmit {
		padding: 15px 25px;
		border: 2px solid white;
		width: 25%;
	}
}