h1 {
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
}

.intro p {
	color: #fff;
}

/*Center texts in each section*/
.section {
	text-align:center;
}

/*Styles for control arrows*/
.controlArrow.prev {
	left: 50px;
}

.controlArrow.next {
	right: 50px;
}

/*Bottom menu*/
#infoMenu li a {
	color: #fff;
}